{require_otp_vsn, "R14B04|R15B01"}.

{deps, [
    {leo_commons, ".*", {git, "https://www.github.com/leo-project/leo_commons.git", "master"}},
    {amqp_client, ".*", {git, "https://github.com/jbrisbin/amqp_client.git",        {tag, "rabbitmq_2.7.0"}}},
    {erlzmq,      ".*", {git, "https://github.com/zeromq/erlzmq2.git",              "master"}},
    {jiffy,       ".*", {git, "https://github.com/davisp/jiffy.git",                "master"}}
]}.

{erl_opts, [{d, 'NOTEST'},
            fail_on_warning,
            warn_obsolete_guard,
            warn_unused_import,
            warn_shadow_vars,
            warn_export_vars,
            warn_export_all]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, []}.
